.faq-section {
  background: linear-gradient(
    90deg,
    #000080 0%,
    #000086 8.33%,
    #00008c 16.67%,
    #000093 25%,
    #009 33.33%,
    #00009f 41.67%,
    #0000a6 50%,
    #0000ac 58.33%,
    #0000b3 66.67%,
    #0000b9 75%,
    #0000c0 83.33%,
    #0000c6 91.67%,
    #0000cd 100%
  );

  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  background: #c0c0c0;
  border: 4px solid #fff;
  padding: 4px;

  @include media(desktop) {
  }
}

.faq-subtitle {
  background: linear-gradient(
    90deg,
    #008080 0%,
    #007e7e 9.09%,
    #007b7b 18.18%,
    #007979 27.27%,
    #007676 36.36%,
    #007474 45.45%,
    #007272 54.55%,
    #006f6f 63.64%,
    #006d6d 72.73%,
    #006b6b 81.82%,
    #006868 90.91%,
    #066 100%
  );

  @include media(desktop) {
  }
}

.faq-content-container {
  background: #fff;
  padding: 24px 16px;

  @include media(desktop) {
    padding: 36px 36px 22px;
  }
}

.faq-title {
  text-align: left;
  color: #000080;

  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    gap: 24px;
  }
}

.faq-list-item {
  border-left: 4px solid #000080;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(desktop) {
  }
}

.faq-item-title {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #000080;

  @include media(desktop) {
  }
}

.faq-item-text {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;

  @include media(desktop) {
  }
}
