.footer {
  background: #c0c0c0;
  border-top: 4px solid #fff;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 36px;
  padding-bottom: 40px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 1440px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #000;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}

.footer-text {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  text-align: center;
  color: #000;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.footer-nav {
  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    gap: 40px;
  }
}

.footer-list-item {
  @include media(desktop) {
    &:not(:last-child) {
      position: relative;

      ::after {
        content: '|';
        font-family: 'Anonymous Pro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
        position: absolute;
        bottom: 0;
        right: -20px;
      }
    }
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45455;
  color: #000;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}
