.context-menu {
  display: none;
  background: linear-gradient(
    90deg,
    #000080 0%,
    #000086 8.33%,
    #00008c 16.67%,
    #000093 25%,
    #009 33.33%,
    #00009f 41.67%,
    #0000a6 50%,
    #0000ac 58.33%,
    #0000b3 66.67%,
    #0000b9 75%,
    #0000c0 83.33%,
    #0000c6 91.67%,
    #0000cd 100%
  );
  border-bottom: 4px solid #c0c0c0;
  padding: 40px 36px 36px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav {
  width: 100%;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.context-list-item {
  position: relative;
}

.context-list-link {
  background: #c0c0c0;
  border: 2px solid #fff;
  padding: 8px 16px;
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  transition:
    color 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;

  &:active {
    background: #0f0;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
