.policy-section {
  background: #010134;

  @include media(desktop) {
  }
}

.policy-bg-wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 140px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.policy-main-title {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.33333;
  text-align: center;
  color: #ff0;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 52px;
    line-height: 1.15385;
    margin-bottom: 60px;
  }
}

.policy-title {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  text-align: justify;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: justify;
  color: #fff;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: justify;
  color: #fff;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}
