.works-section {
  background: linear-gradient(
    180deg,
    #000050 0%,
    #005 11.11%,
    #00005a 22.22%,
    #000060 33.33%,
    #000065 44.44%,
    #00006a 55.56%,
    #000070 66.67%,
    #000075 77.78%,
    #00007a 88.89%,
    #000080 100%
  );

  @include media(desktop) {
  }
}

.works-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.works-container {
  @include media(desktop) {
  }
}

.works-content-wrapper {
  background: #000;
  border: 4px solid #0f0;
  padding: 20px 12px;

  @include media(desktop) {
    padding: 36px;
  }
}

.works-title {
  @include media(desktop) {
  }
}

.works-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
  }
}

.works-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 588px;
    margin: 0;
  }
}

.works-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    width: 100%;
    max-width: 588px;
  }
}

.works-text {
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #c0c0c0;

  @include media(desktop) {
  }
}

.works-middle-text {
  color: #0ff;

  @include media(desktop) {
  }
}

.works-bottom-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(desktop) {
  }
}

.works-bottom-text {
  color: #ff0;

  @include media(desktop) {
  }
}
