<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">[ Home ]</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >[ The Signal ]</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >[ How It Works ]</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >[ Mission Files ]</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#logs"
          >[ Signal Logs ]</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#screenshots"
          >[ Screenshots ]</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./terms-and-conditions.html"
          >[ Terms & Conditions ]</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./privacy-policy.html"
          >[ Privacy Policy ]</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./cookies-policy.html"
          >[ Cookies Policy ]</a
        >
      </li>
    </ul>
  </nav>
</div>
